<footer>
	<p>© 2018 BlogNote</p>
	<p>
		<a href="{{ path("app_mentions") }}">Mentions légales</a>
	</p>
	<!-- la fonction asset de twig a comme paramétre l'url  -->
	<a href="https://www.flaticon.com/fr/icones-gratuites/blog" title="blog icônes">Blog icônes créées par Freepik - Flaticon</a>
</footer>
