<nav
	class="navbar">
	<!-- la fonction asset de twig a comme paramétre le chemin et  pointe vers le dossier public-->
	<a href="{{ path("app_home") }}"><img width="50px" src="{{ asset("assets/images/blog.png") }}" alt=""></a>
	<ul>
		<li>Accueil</li>
		<li>Notes</li>
		<li>Catégories</li>
		<li>Auteurs</li>
		<li>Contact</li>
		<li>Recherche</li>
	</ul>

</nav>
