{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation de mot de passe
{% endblock %}

{% block body %}

	<section>
		<h1>Demande de reinitialisation de mot de passe</h1>
		<div>
			{{ form_start(requestPassForm) }}
			{{ form_row(requestPassForm.email) }}
			<button type="submit">Envoyer</button>
			{{ form_end(requestPassForm) }}
		</div>
	</section>


{% endblock %}
