{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}blognote
{% endblock %}

{% block body %}

	<h1>Astuce</h1>
	{#{% if is_actif == true %} #}


	<div class="cardcontainer">
		<div class="photo">
			<img src="https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
			<div class="photos">Photos</div>
		</div>
		<div class="content">
			<p class="txt4">City Lights In Newyork</p>
			<p class="txt5">A city that never sleeps</p>
			<p class="txt2">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
		</div>
		<div class="footer">
			<p>
				<a class="waves-effect waves-light btn" href="#">Read More</a>
				<a id="heart">
					<span class="like">
						<i class="fab fa-gratipay"></i>Like</span>
				</a>
			</p>
			<p class="txt3">
				<i class="far fa-clock"></i>10 Minutes Ago
				<span class="comments">
					<i class="fas fa-comments"></i>45 Comments</span>
			</p>
		</div>
	</div>


	{#
		<table class="table table-hover">
			<thead>
				<tr class="table-secondary">
					<th scope="col">Voir l'image</th>
					<th scope="col">Titre</th>
					<th scope="col">Contenu de l'astuce</th>
					<th scope="col">Date de création</th>
				</tr>
			</thead>
	
	
			<tbody>
	
				{% for trick in tricks %}
					<tr class="table-light">
						<th scope="row">{{ trick.id }}
						</th>
						<td>{{ trick.title }}</td>
						<td>{{ trick.content }}</td>
						<td>{{ trick.createdAt|date("d/m/Y") }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	#}
	{#	{% endif %} #}


{% endblock %}
