{% extends 'base.html.twig' %}

{% block title %}Ajouter une notation
{% endblock %}

{% block body %}


	<div class="container">
		<h1 class="mt-4">Ajouter une notation</h1>

		{{ form_start(ratingForm) }}
		{{ form(ratingForm) }}


			{{ form_end(ratingForm) }}


		</div>
	{% endblock %}
