body {
    background-color: rgb(217, 223, 219);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    align-items: center;
}