{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}

	<div class="container">
		<h2 class="mt-2 fw-light">Formulaire de contact</h2>


		{{ form(formContact) }}

		</div>

	{% endblock %}
