{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}blognote
{% endblock %}

{% block body %}

	<h1>Astuce</h1>
	{#{% if is_actif == true %} #}
	<table class="table table-hover">
		<thead>
			<tr class="table-secondary">
				<th scope="col">Id</th>
				<th scope="col">Titre</th>
				<th scope="col">Contenu de l'astuce</th>
				<th scope="col">Date de création</th>
			</tr>
		</thead>


		<tbody>

			{% for trick in tricks %}
				<tr class="table-light">
					<th scope="row">{{ trick.id }}
					</th>
					<td>{{ trick.title }}</td>
					<td>{{ trick.content }}</td>
					<td>{{ trick.createdAt|date("d/m/Y") }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{#	{% endif %} #}


{% endblock %}
